<% unless @inactive_jobs.empty? %>
  <div class="panel callout radius">
    <h3>Inactive Stores</h3>
    <ul>
      <% @inactive_jobs.each do |job| %>
        <li><%= link_to job.name, job_path(job) %></li>
      <% end %>
    </ul>
  </div>
<% end %>