<!------ FOOTER ---------->

<html>
<br><br>
<div class="container2">
<div id="copyright" align="center"><font color="#FF0999">
  <br>
  Webmaster: <a href="mail_to:lenal@andrew.cmu.edu">Lena Li</a> Copyright © 2019
  <br><br>
   ♡
  <br><br></font>
</div>
</div>
</html>
