@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.ui-datepicker OPTGROUP { font-weight:normal; }
.ui-datepicker OPTGROUP OPTION { display:none; text-align:right; }
.ui-datepicker OPTGROUP:hover OPTION { display:block; }

#toast-container { left:1%;
right: auto !important;
}